// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
    /* some CSS here */
    .loader { margin: 0px 39%;}
  }
  
  /* #### Mobile Phones Landscape #### */
  @media screen and (max-device-width: 640px) and (orientation: landscape){
    /* some CSS here */
    .loader { margin: 0px 40%;}
  }
  
  /* #### Mobile Phones Portrait or Landscape #### */
  @media screen and (max-device-width: 640px){
    /* some CSS here */
    .loader { margin: 0px 38%;}
  }
  
  /* #### iPhone 4+ Portrait or Landscape #### */
  @media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
    /* some CSS here */
    .loader { margin: 0px 38%;}
  }
  
  /* #### iPhone 5 Portrait or Landscape #### */
  @media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
    /* some CSS here */
    .loader { margin: 0px 39%;}
  }
  
  /* #### iPhone 6 and 6 plus Portrait or Landscape #### */
  @media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
    /* some CSS here */
    .loader { margin: 0px 39%;}
  }
  
  /* #### Tablets Portrait or Landscape #### */
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px){
    /* some CSS here */
    .loader { margin: 0px 42%;}
  }
  
  /* #### Desktops #### */
  @media screen and (min-width: 1024px){
    /* some CSS here */
    .loader { margin: 0px 46%;}
  }