<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      CRUD SPA (Manage Users)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openCreateUserModal()" color="warning" size="small">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-card class="welcome-card">
       <!--
        <img src="/assets/shapes.svg" alt="" />
        -->
      <ion-card-header>
        <!--
        <ion-card-subtitle>Click on plus (+) buttun to add user</ion-card-subtitle>
        -->
        <ion-card-title>Users</ion-card-title>
      </ion-card-header>
      <!--
      <ion-card-content>
        <p>Click on plus (+) buttun to add user</p>
      </ion-card-content>
      -->
    </ion-card>

    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-sm="6" size-lg="4" size-xl="3" *ngFor="let user of userService.users; let i2 = index">
          <ion-grid>
            <ion-row>
                <ion-col size="12">
                    <!--<h1>{{user.id}} : {{user.label}}</h1>-->
                    <h2>{{user.first_name}} {{user.last_name}}</h2>
                    <h3>( {{user.phone}} )</h3>
                </ion-col>
            </ion-row>
            <ion-row>

                <ion-col size-xs="6" size-sm="6" size-lg="6" size-xl="6">
                          <ion-button (click)="openEditUserModal( i2 , user.id , user)" color="secondary" size="small">
                              <ion-icon name="create"></ion-icon>
                          </ion-button>
                </ion-col>       
                <ion-col size-xs="6" size-sm="6" size-lg="6" size-xl="6">       
                          <ion-button (click)="removeUser( i2 , user.id , user)" color="danger" size="small">
                              <ion-icon name="close-circle"></ion-icon>
                          </ion-button>
                </ion-col>
                
            </ion-row>

          </ion-grid>

        </ion-col>

      </ion-row>

  </ion-grid> 
</ion-content>
